body {
	background: #ffffff;
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: 300;
	overflow-x: hidden;
}

html {
    -webkit-font-smoothing: antialiased;
}
  

// Text 

h1 {
	font-family: 'Merriweather', serif;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.5px;
}
h2 {
	font-family: 'Merriweather', serif;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.5px;
}
h3 {
	font-family: 'Merriweather', serif;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.5px;
}

