@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Logo {
    max-width: 170px;
}
@media (max-width: 800px) {
    .Logo {
        max-width: 100px;
    }
}

.Menu {
    width: 100%;
    height: 55px;
    z-index: 1;
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: #ffffff;
    font-size: 15px;
    margin: 0 !important;
    padding: 5px 0;
    box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
    -webkit-box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
    -moz-box-shadow: 0px 1px 5px rgba(190, 190, 190, 0.46);
}

.Menu-tex {
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

body {
    --bodyPaddingTop: 70px;
    padding-top: var(--bodyPaddingTop);
}

@media (max-width: 800px) {
    .Menu {
        height: 40px;
        justify-content: center;
    }
    body {
        --bodyPaddingTop: 40px;
        padding-top: var(--bodyPaddingTop);
    }
}


img {
    border: 0px;
    object-fit: cover;
    /* vertical-align: middle; */
    display: block;
    max-width: 100%;
    height: auto;
    /* width: 50%; */
}

.img-responsive {
    /* display: block; */
    max-width: 100%;
    height: auto;
}

.img-rounded {
    border-radius: 2px
}

.ButtonLink {
    background-color: #749370;
    border: 1px solid #749370;
    box-sizing: border-box;
    cursor: pointer;
    padding: 12px 24px;
    font-style: normal;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: opacity 0.1s;
}
.ButtonLink:hover,
.ButtonLink:focus {
    opacity: 0.1;
}

@media (max-width: 800px) {
    a.ButtonLink {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: #749370;
        border-radius: 0;
        border: 0;
        text-align: center;
    }
}